<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<master auto="start"/>

	<node pkg="chroma" type="chroma" respawn="false" name="chroma" output="screen">
		<rosparam file="$(find chroma)/config/parameters.yaml" command="load" />
	</node>

  <node pkg="depth" type="depth" respawn="false" name="depth" output="screen">
                <rosparam file="$(find depth)/config/parameters.yaml" command="load" />
        </node>

  <node pkg="fusion" type="fusion" respawn="false" name="fusion" output="screen">
                <rosparam file="$(find fusion)/config/parameters.yaml" command="load" />
        </node>

  <node pkg="decision_making" type="decision_making" respawn="false" name="decision_making" output="screen">
                <rosparam file="$(find decision_making)/config/parameters.yaml" command="load" />
        </node>

</launch>
